@page "/"
<h1>Breakpoint problem</h1>

<ElixMenuButton OnMenuItemSelected="MenuSelected" OnOpenedChange="MenuOpenedChange">
    <Content>
        <elix-menu-item id="a">A</elix-menu-item>
        <elix-menu-item id="b">B</elix-menu-item>
        <elix-menu-item id="c">C</elix-menu-item>
    </Content>
</ElixMenuButton>

@code {

    public void MenuSelected(string id) {
        // I'm using a WebComponent described here:
        // https://component.kitchen/elix/MenuButton
        //
        // Put a debugger breakpoint on the line below that DOES NOT stop execution
        // but instead prints out "Selected item {id}" to the debug console.
        // When I do it and then open the menu and try to select something, the
        // web browser seems to hang. If I look inside the Edge developer tools I can see
        // it has stopped somewhere inside the code for ElixMenuButton, a Web Component
        // that implements a menu control that tracks mouse movement and clicks. If I 
        // remove the breakpoint, the code seems to work just fine.
        System.Diagnostics.Debug.WriteLine("Selected item: " + id);
    }

    public void MenuOpenedChange(bool isOpened) {
        System.Diagnostics.Debug.WriteLine("Menu is open: " + isOpened);
    }
}